
.card {
    border-radius: 15px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 800px;

    background-color: coral;
    display: inline-block
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


p {
    color: blue;
}

h3 {
    color: blue;
    text-align: center
}

img {
    max-width:170px;
    max-height:150px;
    width: auto;
    height: auto;
    border-radius: 50px;
}

.img_direita {
    display: inline;
    width: 23%;
    float: left;
}
